body 
{
    padding: none; 
    margin: none; 
    text-decoration: none;
    display: grid;
}

h1
{
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.header
{
    border: red 1px solid;
    
}

/*=== Header Nav ===*/
.header > header > nav
{
    height: 56px;
    display: grid;
    grid-template-columns: [c1] 0.3fr [c2] 1fr [c3] 4fr [c4] 0.5fr;
    grid-template-rows: [base] 1fr;
    border: solid 1px black;
}

.header > header > nav > div
{
    height: 56px;
    text-align: center;
}

.header > header > nav > .nav--deploy > img 
{
    max-width:40%;
    height: 54px;
    vertical-align: middle;
    
}



.header > header > nav > .name
{
    text-align: left;
}

.header > header > nav > .name > img 
{
    max-width:100%;
    max-height:100%;
    vertical-align: middle;
    
}

.header > header > nav > .list--nav > ul 
{
    
    list-style: none;
    height: 54px;
    margin: 0%;
    text-align: center;
    display: grid;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr [c4] 1fr;
    grid-template-rows: [base] 1fr;
}

.header > header > nav > .list--nav > ul > li
{
   text-align: center;
    height: 54px;
    padding: auto;
    border: coral 1px solid;
}

.header > header > nav > .list--nav > ul > li > a
{
   font-size: calc(1em + 1vw);
   margin: auto;
    
}

.header > header > nav > .logo
{
    text-align: center;
   
}

.header > header > nav > .logo > img 
{
    max-width:90%;
    height: 54px;
    vertical-align: middle;
    border: solid black 1px;
    border-radius: 50%;   
}

/*=== Header presentation--banner ===*/

.header > header > .presentation--banner
{
    border: springgreen 1px solid;
    height: 400px;
    text-align: center;
    display: flex;
    
}

.header > header > .presentation--banner > .txt
{
    border: springgreen 1px solid;
    width: auto;
    height: auto;
    flex: content; 
    margin: auto;
}

.header > header > .presentation--banner > .txt > p
{
    font-size: calc(1em + 1vw)
}
/*-- header--banner--news --*/
.header > header > .header--banner--news
{
    border: blue 1px solid;
    height: 150px;
    display: grid;
    grid-template-columns: [c1] 1fr [c2] 1fr;
    grid-template-rows: [base] 1fr;
    grid-gap: 2rem;
}

.header > header > .header--banner--news > .banner--new
{
    border: blue 1px solid;
    height: 150px;
    display: grid;
    grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr;
    grid-template-rows: [base] 1fr;
}


.header > header > .header--banner--news > .banner--new > .new
{
    border:chocolate 1px solid;
    height: 150px;

}